<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shakenbeer.nutrition"
    android:installLocation="auto"
    android:versionCode="3"
    android:versionName="1.2">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".CarbculatorApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.DayListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DayActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.EatingActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.FoodListActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.FoodActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.StatisticsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day.DayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".meal.MealActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>